<!DOCTYPE html>
<html ng-app="soflow">
	<head>
		<title>soFlow</title>
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="styles/angular-chart.css">
		<link rel="stylesheet" href="styles/index.css">
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
		<script src="scripts/Chart.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
		<script src="scripts/angular-chart.js"></script>
		<script src="scripts/scripts.js"></script>
	</head>
	<body ng-controller="main">

		<div class="container">

			<div class="row">

				<div class="col-md-3">
					<h4>Top Tag Activity</h4>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="answerer in topAnswerers | limitTo: 7">
							<img src="{{ answerer.user.profile_image }}">
							<a href="{{ answerer.user.link }}" ng-bind-html="answerer.user.display_name"></a> 
							has posted {{ answerer.post_count | oneOrMany: "time" }}, and earned {{ answerer.score }} points.
						</li>
					</ul>
					<canvas class="chart chart-doughnut" data="data" labels="labels"></canvas>
				</div>
				<div class="col-md-9">
					<h4>Recent Account Summaries (last 30 days)</h4>
					<section class="col-md-4" ng-repeat="user in users">
						<div class="panel panel-info">
							<div class="panel-heading">
								{{ user.display_name }} <span class="badge">{{ user.reputation | number }}</span>
							</div>
							<div class="panel-body">
								<div class="row">
									<figure class="col-md-4">
										<img src="{{ user.profile_image }}">
									</figure>
									<p class="col-md-8 summary">
										<span ng-if="( user.answers = ( answers | owned: user.user_id ) ).length">
											{{ user.firstname }} has posted {{ user.answers.length | oneOrMany: "answer" }}.
											<span ng-if="( user.answers.accepted = ( user.answers | accepted: true ) ).length">
												Of these, {{ user.answers.accepted.length | one }} {{ user.answers.accepted.length > 1 ? "were" : "was" }} <em>accepted</em>.
											</span>
										</span>
										<span ng-if="( user.comments = ( comments | owned: user.user_id ) ).length">
											{{ user.firstname }} {{ user.answers.length ? "also" : "" }} posted {{ user.comments.length | oneOrMany: "comment" }}.
										</span>
										<span ng-if="!user.answers.length && !user.comments.length">
											{{ user.display_name }} does not currently have any recent activity to share.
										</span>
									</p>
								</div>
								<section ng-if="user.answers.length">
									<h6>
										Answers Accepted 
										<span ng-if="( user.answers.upvoted = ( user.answers | accepted: false | votes ) ).length">
											(or upvoted)
										</span>
									</h6>
									<div class="progress">
										<div class="progress-bar progress-bar-success" 
											 ng-attr-style="width: {{ user.answers.accepted.length / user.answers.length * 100 | toFixed }}%">
												{{ user.answers.accepted.length / user.answers.length * 100 | round }}%
										</div>
										<div ng-if="user.answers.upvoted.length" 
											 ng-attr-style="width: {{ user.answers.upvoted.length / user.answers.length * 100 | toFixed }}%"
											 class="progress-bar progress-bar-info">
											 	{{ user.answers.upvoted.length / user.answers.length * 100 | round }}%
										</div>
									</div>
								</section>
							</div>
						</div>
					</section>
				</div>

			</div>

		</div>

	</body>
</html>